<h1>Friend Info</h1>

{{model.firstName}}
{{model.lastName}}
{{model.email}}
{{model.twitter}}

{{#link-to 'friends.edit' model}} Edit Friend Info {{/link-to}}

{{#link-to 'friends'}} Home {{/link-to}}
